dist: bionic
os: linux
language: python
python: '3.6'

env:
  global:
    - secure: "N3C+nVcVnzRXPslCZrgtvpGHBNCzfGjhuh+kpxd20ucsB3idy0Dhx7Va+iAkPKbmFzlHiImcRW+hDgYcYBkpSMOVMpruZX52D1zCc/JR743pOw3SuNqc9s6634IJh4sCcXlvDYiIVL++CYP+U1Rd4HPwI5lHkNt7Jfvv0TJg7cYQh4Y7NyB68T1oLMv0RzjmPAs2in7ZPiBY+aYH0XhkizKWYi2xEbpwun30KigpvfhZJz44e7aZ1YBRfUHXx+fplVQm7q2DAXjKyWXeAXkRw/qn0q8x+xRTO+xxayl8EOcMVlbRfECgqiT0xlebNDuwPDTpDI840nLOhyCckDxgc8J2v4llBo+m8isAzzPASL5NGVAz5shwjU+1nBSJJaE7+kAMOKOoOg9AgZpTrmxk0R1KQjQ1fcwki/pw+QX7es8IIY2yBC1W5lMnEFnjnwjNdRL3I9GXVkczbbRueI7sqQYvXOzF5cj00yFRR7QRsGr/2JZ1ckPlTZ1GkzDH0lzSww9oLxupMjkgurasNdgW83OPwUCHrL3MSt4UkxAWqOwbK2bA/YxYy+FHCdnNRT36m0IS6jBXAiyt6JqFX/5hO8UOvNoxuca3dPlhPXtGI6PuB99EoFKEV3R0iz+o/vAXxd1a8Fl9hLTuejABBNhGv8Qw5mJ2KHDQDh9E48lxvYU="

before_install:
  - test "${TRAVIS_BRANCH}" != 'coverity_scan' -o "${TRAVIS_JOB_NUMBER##*.}" = '1' || exit 0
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

install:
  - pip install -r requirements.txt

addons:
  coverity_scan:
    project:
      name: "intel/vaapi-fits"
      description: "Build submitted via Travis CI"
    notification_email: ullysses.a.eoff@intel.com
    build_command: --return-emit-failures --parse-error-threshold 100 --no-command --fs-capture-search ./
    branch_pattern: coverity_scan

script:
  - if [ "${COVERITY_SCAN_BRANCH}" == 1 ]; then exit ; fi
  - ./vaapi-fits run test/self --platform NONE -v
